In [20]:
# Modulo-Rechnen
# 1. Aufgaben:
# a) 27 mod 4
print(27 % 4) # 4 * 6 + 3 = 27

# b) 26 mod 5
print(26 % 5) # 5 * 5 + 1 = 26

# c) 18 mod 3
print(18 % 3) # 3 * 6 + 0 = 18

# g) 100037 mod 10
print(100037 % 10) # 10 * 10003 + 7 = 100037

# 2. Aufgaben:
# a) sei k eine gerade Zahl. Berechne k mod 2.
print(2 % 2) # 2 * 1 + 0 = 2
print(4 % 2) # 2 * 2 + 0 = 4
# Eine gerade Zahl ist per Definition durch 2 teilbar. Daher ist der Rest 0.

# b) sei k eine ungerade Zahl. Berechne k mod 2.
print(1 % 2) # 2 * 0 + 1 = 1
print(3 % 2) # 2 * 1 + 1 = 3
# Eine ungerade Zahl ist per Definition nicht durch 2 teilbar. Daher ist der Rest 1.

# 3. Aufgaben:
# a) Vergleiche  25 mod 4  und  (20 mod 4 + 5 mod 4) mod 4
print(25 % 4, (20 % 4 + 5 % 4) % 4) # 1, 1

# b) Vergleiche  25 mod 4  und  (19 mod 4 + 6 mod 4) mod 4
print(25 % 4, (19 % 4 + 6 % 4) % 4) # 1, 1

# c) Vergleiche  26 mod 4  und  (2 mod 4·13 mod 4) mod 4
print(26 % 4, (2 % 4 * 13 % 4) % 4) # 2, 2

# d) Vergleiche  7**3 mod 4  und  (7 mod 4)**3 mod 4
print(7**3 % 4, (7 % 4)**3 % 4) # 3, 3

### Regeln
# (a + b) mod m = (a mod m + b mod m) mod m
print((25 + 12) % 4, (25 % 4 + 12 % 4) % 4) # 1, 1
# (a - b) mod m = (a mod m - b mod m) mod m
print((25 - 12) % 4, (25 % 4 - 12 % 4) % 4) # 1, 1
# (a * b) mod m = (a mod m * b mod m) mod m
print((25 * 12) % 4, (25 % 4 * 12 % 4) % 4) # 0, 0
# (a ** b) mod m = (a mod m) ** b mod m
print((25 ** 12) % 4, (25 % 4) ** 12 % 4) # 1, 1

# 4. Aufgaben:
# a) Es sei n irgendeine natürliche Zahl, die mit den Ziffern ...34 endet. Berechne n mod 4
print(34 % 4, (12100 + 34) % 4) # 2
# b) Wie kann man leicht überprüfen, ob eine Zahl durch 4 teilbar ist?
# n mod 4 != 0
print(24 % 4)

# 5. Aufgaben
# Es ist 10 Uhr am Vormittag (Mittwoch) und du hast in 50 Stunden einen Terminbeim Zahnarzt und in 70 Stunden einen Computerkurs. Wann finden die Terminestatt?
print((10 + 50) % 24, (10 + 70) % 24) # 12, 8
# Der Zahnarzttermin ist am Freitag um 12 Uhr und der Computerkurs am Samstag um 8 Uhr.

3
1
0
7
0
0
1
1
1 1
1 1
2 2
3 3
1 1
1 1
0 0
1 1
2 2
0
12 8

In [2]:
import pandas as pd

# Restklassen
# [a]m = {b aus Z | es existiert K aus Z für das gilt: b = k * m + a} = {b | b identisch mit a mod m}
# Die Restklasse einer ganzen Zahlamodulo einer Zahlmist die Menge all derZahlen, die bei Division durchmdenselben (positiven)Restlassenwiea. Die Restklassevonamodulombezeichnet man als [a]m, und es gilt

# Aufgaben 1.
# a) Versuche die obige Tabelle in Worte zu fassen.
# Die Tabelle zeigt die Restklassen modulo 6

# b) Fertige eine entsprechende Tabelle für m = 5 an.
pd.DataFrame(
    data={
        '[0]5': ['5 * k', ':', '-10', '-5', '0', '5', '10', ':'],
        '[2]5': ['5 * k + 1', ':', '-9', '-4', '1', '6', '11', ':'],
        '[3]5': ['5 * k + 2', ':', '-8', '-3', '2', '7', '12', ':'],
        '[4]5': ['5 * k + 3', ':', '-7', '-2', '3', '8', '13', ':'],
    }
)
# print('–' * 36)
# print('  |  '.join([f"[{i}]5" for i in range(5)]))
# print('–' * 36)
# print(' | '.join([f"5 * k + {i}" for i in range(5)]))
# # c)
# # [1]3 = {b aus Z | es gibt K aus Z mit b = k * 3 + 1}

# # d) G

    [0]5       [2]5       [3]5       [4]5
0  5 * k  5 * k + 1  5 * k + 2  5 * k + 3
1      :          :          :          :
2    -10         -9         -8         -7
3     -5         -4         -3         -2
4      0          1          2          3
5      5          6          7          8
6     10         11         12         13
7      :          :          :          :

![table](table.png)